@tailwind base;
@tailwind components;
@tailwind utilities;

select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' width='24' height='24' %3E%3Cpath strokeLinecap='round' strokeLinejoin='round' d='M19.5 8.25l-7.5 7.5-7.5-7.5' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-x: 99%;
  background-position-y: 50%;
}

.theme-sonans {
  --primary: 251, 229, 77;
  --text-on-primary: 0, 0, 0;
  --secondary: 255, 141, 239;
  --tertiary: 118, 255, 118;
  --black: 0, 0, 0;
  --gray: 209, 213, 219;
  --white: 255, 255, 255;
  --borderRadius: 0.4rem;
}

.theme-sonans .la-button {
    border: 1px solid #000;
}

.theme-onh {
  --primary: 100, 255, 208;
  --text-on-primary: 0, 0, 0;
  --secondary: 196, 252, 46;
  --tertiary: 245, 241, 241;
  --black: 0, 0, 0;
  --gray: 209, 213, 219;
  --white: 255, 255, 255;
  --borderRadius: 0rem;
}

.theme-lumi {
  --primary: 50, 0, 125;
  --text-on-primary: 255, 255, 255;
  --secondary: 200, 175, 255;
  --tertiary: 196, 124, 220;
  --black: 0, 0, 0;
  --gray: 209, 213, 219;
  --white: 255, 255, 255;
  --borderRadius: 0.2rem;
}

.theme-alf {
  --primary: 255, 197, 4;
  --text-on-primary: 0, 0, 0;
  --secondary: 0, 164, 178;
  --text-on-secondary: 255, 255, 255;
  --tertiary: 255, 238, 180;
  --black: 39, 38, 33;
  --gray: 209, 213, 219;
  --white: 255, 255, 255;
  --borderRadius: 0.2rem;
}
